####### Variable Settings #######
#################################

set ADAFRUIT_1 USERNAME XXXXXXXX
# Your ADAFRUIT IO KEY
set ADAFRUIT_1 PASSWORD XXXXXXXX
set ADAFRUIT_1 SERVER io.adafruit.com
#Default is 1883 (non-SSL) in library.   SSL uses 8883 and must also set TLS_SET = 1 below.
set ADAFRUIT_1 PORT 8883
#Set to 0 if not using TLS
set ADAFRUIT_1 TLS_SET 1
# One minute.  Library might not use at the moment.
set ADAFRUIT_1 KEEPALIVE 3600
# If None, will auto-generate my name
set ADAFRUIT_1 CLIENTID None
set ADAFRUIT_1 TOPIC_FMT adafruit_fmt
set ADAFRUIT_1 MAX_RETRIES 3
# I think Adafruit only works with QOS 0 and 1 currently.
set ADAFRUIT_1 QOS 1
#This might be a CentOS specific location.  Find your CA cert list file and put here for TLS
set ADAFRUIT_1 CACERT /etc/ssl/certs/ca-bundle.crt
set ADAFRUIT_1 LABEL  Adafruit_1

set MQTT_1 USERNAME generic_publish
# Your ADAFRUIT IO KEY
set MQTT_1 PASSWORD XXXXXXXX
set MQTT_1 SERVER mqtt-broker1
#Use SSL.  Default is 1883 (non-SSL) in library.   SSL must use tls_set() in script.
set MQTT_1 PORT 1883
set MQTT_1 KEEPALIVE 3600
set MQTT_1 CLIENTID Repeater_test1
# Don't convert feednames to Adafruit standard
set MQTT_1 TOPIC_FMT rawmqtt_fmt
set MQTT_1 MAX_RETRIES 3
set MQTT_1 QOS 2
#set MQTT_1 LABEL MQTT_1

#Example 3rd source/destination
#set MQTT_2 USERNAME 
# Your ADAFRUIT IO KEY
#set MQTT_2 PASSWORD 
#set MQTT_2 SERVER mqtt-broker2
#Use SSL.  Default is 1883 (non-SSL) in library.   SSL must use tls_set() in script.
#set MQTT_2 PORT 1883
#set MQTT_2 KEEPALIVE 3600
#set MQTT_2 CLIENTID Repeater_test2
# Don't convert feednames to Adafruit standard
#set MQTT_2 TOPIC_FMT rawmqtt_fmt
#set MQTT_2 MAX_RETRIES 3
#set MQTT_2 QOS 2
#set MQTT_1 LABEL MQTT_1

# File output.  (Can only be a destination)
set FILE1 TOPIC_FMT file
set FILE1 FILENAME logs/mqtt_logfile.csv

# SQLite DB output (Just saving current value, not historical values)  (Can only be destination)
set DB1 TOPIC_FMT sqlite
set DB1 FILENAME db/mqtt_repeater.db


#################################
####### Publish Mappings  #######
#################################

#LOCAL_MQTT format is full path
#ADAFRUIT_IO format is just feed-name.  library automatically appends /USERNAME/feeds/
#Please don't make a loop or it will repeat any given publish forever
#Leave DESTINATION-FEED blank for FILE destinations
#
#SOURCE-NAME	SOURCE-FEED			DESTINATION-NAME	DESTINATION-FEED
ADAFRUIT_1	garage-humidity 		MQTT_1			/farm/sensors/garage/io-test-input
#ADAFRUIT_1	garage-humidity 		MQTT_1			/farm/sensors/garage/io-test-input2
#ADAFRUIT_1	garage-humidity 		MQTT_2			/farm/sensors/garage/io-test-input
MQTT_1		/farm/sensors/garage/temp		ADAFRUIT_1	garage-temp-test
MQTT_1		/farm/sensors/garage/humidity		ADAFRUIT_1	garage-humidity-test
MQTT_1		/farm/sensors/garage/motion-status	ADAFRUIT_1	motion-status-test
MQTT_1		/farm/sensors/garage/temp		FILE1	
MQTT_1		/farm/sensors/garage/humidity		FILE1	
MQTT_1		/farm/sensors/garage/motion-status	FILE1	
MQTT_1		/farm/sensors/garage/last-distance	FILE1	
MQTT_1		/farm/sensors/garage/overheaddoor-status	FILE1	
MQTT_1		/farm/sensors/garage/temp		DB1	
MQTT_1		/farm/sensors/garage/humidity		DB1	
MQTT_1		/farm/sensors/garage/motion-status	DB1	
MQTT_1		/farm/sensors/garage/last-distance	DB1	
MQTT_1		/farm/sensors/garage/overheaddoor-status	DB1	
#ADAFRUIT_1	garage-humidity 		FILE1			
#TEST_ERROR	garage-humidity 					

#TODO: Idea #1
#Pass payload to make a decision
#Command		MQTT_1:/farm/sensors/garage/last-distance   /tmp/is_car_here.py
