#systemd startup script
#
#1) Modify ExecStart and User lines.
#2) Put this here: /etc/systemd/system/mqtt_repeater.service
#3) systemctl daemon-reload
#
# to start:
# systemctl start mqtt_repeater
# To enable on boot:
# systemctl enable mqtt_repeater
#
[Unit]
Description=MQTT Repeater daemon
After=network.target rc-local.service

[Service]
ExecStart=/CHANGE_TO_FULL_PATH/mqtt_repeater.py
KillMode=process
Restart=on-failure
RestartSec=30s
#Who should we run the daemon as?
User=MYUSERNAME

[Install]
WantedBy=multi-user.target
